<app-header titulo="Cards "> </app-header>


<ion-content>

    <ion-card mode="ios">
        <ion-card-header>
            <ion-card-title>Card Title</ion-card-title>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-icon slot="start" name="pin"></ion-icon>
        <ion-item color="primary">
            <ion-label> Marcador </ion-label>
        </ion-item>
        <ion-card-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quod tempore eum aperiam, rerum eos autem consequatur blanditiis? Quod quaerat incidunt corrupti repellendus voluptatibus voluptates magni, aspernatur sit amet atque.
        </ion-card-content>
    </ion-card>



    <ion-card-content>

        <img src="https://th.bing.com/th/id/OIP.kyioDDV3LIdcoM0ObOtkgQHaLY?pid=Api&rs=1" alt="" sizes="" srcset="">
        <ion-card-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum libero officiis officia in quas amet porro fugiat accusamus, minima accusantium aut obcaecati modi iusto repellat cumque at architecto fugit ad?
        </ion-card-content>
    </ion-card-content>

</ion-content>